:root {
  --margin: 0.1rem;
  --padding: 4px;
  --short: 22%;
  --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --box-shadow-button: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /* --nav-height: 3rem; */
  --transtion_fast: 0.25s ease-in;
  --focus_outline_color: blue;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 13px;
}

/* --------------------------------------------------------- */
/* Elements */

body,
html,
section {
  margin: 0;
  padding: 0;
}

img:hover {
  box-shadow: 0px 0px 6px white;
}
img:active {
  transform: translate(1px, 1px);
  box-shadow: 0px 0px 6px green;
}

input {
  border: 0px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}
input:disabled {
  color: lightgray;
  border-bottom: none;
  background-color: white;
}
/* Disable spinners on input[type=number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
input:focus {
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  float: right;
}
ul li {
  text-decoration: none;
  display: inline;
}

nav {
  width: 100%;
  height: max-content;
  padding: var(--padding);
  z-index: 10;
  position: sticky;
  top: 0;

  display: grid;
  grid-gap: var(--padding);
  grid-auto-flow: column;
  grid-template-columns: repeat(2, max-content);
}

/* --------------------------------------------------------- */
/* IDs */
#setupModal {
  transition: transform var(--transtion_fast);
  will-change: transition;
}

#setupModal * {
  padding: var(--padding);
}

#btnDock {
  position: absolute;
  right: 0%;
  top: 2%;
  cursor: pointer;
}

/* --------------------------------------------------------- */
/* Classes  */

.button {
  --padding: 0.1rem;

  border: none;
  margin: 0 8px;
  width: 96px;
  background-color: azure;
  box-shadow: var(--box-shadow-button);
}
.button:hover {
  background-color: lightgray;
}
.button:active {
  background-color: gray;
}

.card {
  border: none;
  border-radius: 8px 8px;
  padding: calc(var(--padding) * 5);
  box-shadow: var(--box-shadow);
}

.center_both {
  place-self: center;
  position: relative;

  width: -moz-fit-content;
  width: fit-content;
}

.center_text {
  text-align: center;
}
.right_text {
  text-align: right;
}

.docked {
  position: absolute;
  /* top: var(--nav-height); */
}

.evalGridItem {
  padding: var(--padding);
}

.fixed_top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.grid_2,
.grid_3,
.grid_4 {
  display: grid;
  grid-gap: var(--grid-gap);
  margin-top: calc(var(--margin) * 10);
  text-align: center;
}

.grid_2 {
  grid-template-columns: 280px min-content;
}
.grid_3 {
  grid-template-columns: 280px min-content min-content;
}
.grid_4 {
  grid-template-columns: 280px min-content min-content min-content;
}

.invisible {
  /* display: none; */
  transform: translateX(-150%);
}

.modal {
  position: fixed;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.541);
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

.parent {
  display: grid;
}

.short {
  width: 120px;
}

.top_margin {
  margin-top: calc(var(--margin) * 10);
  margin-bottom: calc(var(--margin) * 10);
}

/* --------------------------------------------------------- */
/* Colors */
.blue {
  background-color: blue;
  color: white;
}
.teal {
  background-color: skyblue;
}
.green {
  background-color: lightgreen;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
  color: white;
}
.white {
  background-color: white;
}
