#evalGrid {
  --number_input_size: 7ch;
  --eval-grid-gap: 0px;

  --num_subfactors: 2;
  --num_alternatives: 0;

  --placeholder_color: gray;
  --border_bottom: 1px solid lightgray;
  --weight_color: brown;

  position: relative;
  margin: 16px 8px;

  display: -ms-grid;
  display: grid;
  grid-gap: var(--eval-grid-gap);
  justify-content: start;
  align-content: start;

  grid-template:
    repeat(calc(var(--num_subfactors) + 8), auto) /
    repeat(calc(var(--num_alternatives) + 2), auto);
  grid-auto-flow: column;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

/* --- Elements ---*/

::placeholder {
  color: var(--placeholder_color);
  font-style: italic;
}

label {
  text-align: right;
}

/* TAs work better with grid than contenteditable divs
because CE divs break grid sizing when pasting content 
into them */

textarea {
  resize: none;

  border: none;
  margin: 0;
  padding: 0;

  /* Prevent the TA and scrollbars from bouncing 
  in and out when the TA is auto-reszing  */
  overflow-y: hidden;

  /* Set an initial fixed height b/c FireFox
  automatically adds extra rows to textareas */
  height: 1.2em;
  overflow-x: hidden;

  border-bottom: var(--border_bottom);
  outline: none;
}

/* --- The Evaluation Grid --- */

.block {
  background-color: lightgray;
}

.column-header {
  resize: horizontal;
  overflow: hidden;

  outline: 1px solid gray;
  background-color: white;
  text-align: center;
}

.column-header[data-column='factor'] {
  min-width: 220px;
}

.column-header[data-column='subfactor'] {
  min-width: 195px;
}

.column-header[data-column^='alternative'] {
  position: relative;
  z-index: 0; /* necessary: relative position > modal */
  min-width: 185px;
}

.evalGridItem {
  display: grid; /* all grid items are grids */
  grid-gap: var(--eval-grid-gap);

  padding: var(--padding);

  outline: 1px solid gray;
  outline-offset: 0px;
}

.evalGridItem:not(.block) {
  /* solid (white) hides overlapping (outlines) */
  background-color: white;
}

.presentation {
  border: none;
}

.weight {
  place-self: end end;

  display: grid;
  grid-template-columns: auto var(--number_input_size) auto;
  align-items: end;
}

.weight input {
  grid-column: 2/3;
  color: var(--weight_color);

  text-align: right;
}

.weight label {
  font-style: italic;
  font-size: 0.85em;
  line-height: 1em;
}

.weight span {
  transform: translateY(-3px);
  color: var(--weight_color);
}

/* --------------------------------- */
/* --- Factors and Subfactors --- */

.context_menu,
.context_menu_alternatives {
  position: absolute;
  width: max-content;
}

.context_menu {
  align-self: end;
}

.context_menu_alternatives {
  left: 0;
  top: -4px;
  z-index: 0;
  background-color: #fff;
}

.context_menu *,
.context_menu_alternatives * {
  text-decoration: none;
  width: 100%;
}

/* Show context menus on hover */
:is(.subfactor, .factor, .alternative):hover
  ~ :is(.context_menu, .context_menu_alternatives) {
  opacity: 100%;
  z-index: 100;
}

.factor {
  grid-template-rows: 1fr min-content min-content;
  grid-auto-flow: column;
  align-items: center;
}

.factor[data-factor='1'] {
  /* You want to span the number of subfactors */
  grid-row-end: span var(--num_subfactors);
}

.factor-description {
  text-align: center;
  font-weight: bold;
  place-self: center center;
}

.subfactor {
  grid-template-rows: 1fr auto;
}

.subfactor-description {
  align-self: center;

  text-align: center;
}

/* --- Requirements ---*/

.reqs {
  display: grid;
  grid-auto-flow: row;
}

.reqs .description {
  text-align: center;
}

/* --- Schedule and Security --- */

.sched,
.sec {
  display: grid;
  grid-auto-flow: row;
}

.sec .description,
.sched .description {
  text-align: center;
}

/* --- Other Factors ---*/

.center {
  place-items: center;
}

/* ------------------------------- */
/* --- Alternatives --- */

.short_input {
  width: 90px;
  place-self: end center;
}

.very_short_input {
  width: 6ch;
  place-self: end center;
}

/* ------------------------------- */
/* --- Evaluations --- */

.evaluation {
  grid-template-rows: 1fr auto;
}

.comment {
  grid-column: 1 / -1;
  width: 100%;
  overflow-wrap: anywhere;
}

/* --- Security Evaluation --- */
.sec-eval {
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
  justify-content: space-around;
  gap: 8px;
}

.choice {
  padding: 4px 0;
  cursor: pointer;
  border-radius: 8px 8px;
  text-align: center;
}

.choice:hover {
  outline: 1px solid darkslategray;
}
