#evalGrid {
  --number_input_size: 60px;
  --eval-grid-gap: 0px;

  --num_subfactors: 2;
  --num_alternatives: 0;

  display: -ms-grid;
  display: grid;
  grid-gap: var(--eval-grid-gap);
  justify-content: start;
  align-content: start;

  grid-auto-flow: column;
  grid-template: 
    repeat(calc(var(--num_subfactors) + 2), auto) / 
    repeat(calc(var(--num_alternatives) + 2), auto);
}

/* --- Elements ---*/
/* Makes editable Divs look like input boxes */
[contenteditable] {
  border-bottom: 1px solid lightgray;
  width: min(max-content, 100%);
  outline: none;
}

[placeholder]:empty::before {
  content: attr(placeholder) ' ';
  color: lightgray;
}

label {
  text-align: right;
}

textarea {
  resize: none;
}

/* --- The Evaluation Grid --- */

.column-header {
  resize: horizontal;
  overflow: hidden;

  text-align: center;
}

.column-header[data-column='factor'] {
  min-width: 220px;
}

.column-header[data-column='subfactor'] {
  min-width: 185px;
}

.evalGridItem {
  display: grid; /* all grid items are grids */
  grid-gap: var(--eval-grid-gap);

  border: 1px solid lightgrey;
}

.weight {
  place-self: end end;
  
  display: grid;
  grid-template-columns: auto 60px auto;
}

/* --- Factors and Subfactors --- */

.factor {
  grid-template-rows: 1fr auto auto;
  grid-auto-flow: column;
  align-items: center;
}

.factor[data-factor='1'] {
  grid-row-end: span 2;
}

.factor-description {
  overflow: auto;

  text-align: center;
}

.subfactor {
  overflow: auto;
  height: min(1fr, 100%);

  grid-template-rows: 1fr auto;
}

.subfactor-description {
  align-self: bottom;

  text-align: center;
}

.subfactor input {
  width: var(number_input_size);
}

/* --- Requirement Factor --- */

.reqs {
  display: grid;
  grid-auto-flow: row;
}

.reqs .description {
  text-align: center;
}

/* --- Alternatives ---/



