#evalGrid {
  --number_input_size: 60px;
  --eval-grid-gap: 0px;

  --num_subfactors: 2;
  --num_alternatives: 0;

  --placeholder_color: lightgray;

  margin: 8px;

  display: -ms-grid;
  display: grid;
  grid-gap: var(--eval-grid-gap);
  justify-content: start;
  align-content: start;

  grid-template:
    repeat(calc(var(--num_subfactors) + 8), auto) /
    repeat(calc(var(--num_alternatives) + 2), auto);
  grid-auto-flow: column;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
}

/* --- Elements ---*/
/* Makes editable Divs look like input boxes */
[contenteditable] {
  border-bottom: 1px solid lightgray;
  outline: none;

  overflow-wrap: anywhere; /* text wrapping/breakpoint */
}

::placeholder {
  color: var(--placeholder_color);
}

[placeholder]:not(input):empty::before {
  content: attr(placeholder);
  color: var(--placeholder_color);
}

label {
  text-align: right;
}

/* --- The Evaluation Grid --- */

.block {
  background-color: lightgray;
}

.column-header {
  resize: horizontal;
  overflow: hidden;

  text-align: center;
}

.column-header[data-column='factor'] {
  min-width: 220px;
}

.column-header[data-column='subfactor'] {
  min-width: 185px;
}

.column-header[data-column='alternative'] {
  min-width: 185px;
}

.evalGridItem {
  display: grid; /* all grid items are grids */
  grid-gap: var(--eval-grid-gap);

  outline: 1px solid gray;
  outline-offset: 0px;
}

.evalGridItem:not(.block) {
  /* solid (white) hides overlapping (outlines) */
  background-color: white;
}

.weight {
  place-self: end end;

  display: grid;
  grid-template-columns: auto 7ch auto;
  text-align: right;
  align-items: end;
}

.weight input {
  text-align: right;
}

.weight label {
  color: brown;
  font-style: italic;
  font-size: 0.85em;
  line-height: 1em;
}

/* --------------------------------- */
/* --- Factors and Subfactors --- */

.factor {
  grid-template-rows: 1fr auto auto;
  grid-auto-flow: column;
  align-items: center;
}

.factor[data-factor='1'] {
  /*  */
  grid-row-end: span 2;
}

.factor-description {
  text-align: center;
  font-weight: bold;
}

.subfactor {
  overflow: auto;

  grid-template-rows: 1fr auto;
}

.subfactor-description {
  align-self: center;

  text-align: center;
}

.subfactor input {
  width: var(--number_input_size);
}

/* --- Requirements ---*/

.reqs {
  display: grid;
  grid-auto-flow: row;
}

.reqs .description {
  text-align: center;
}

/* --- Schedule and Security --- */

.sched,
.sec {
  display: grid;
  grid-auto-flow: row;
}

.sec .description,
.sched .description {
  text-align: center;
}

/* --- Other Factors ---*/

.center {
  place-items: center;
}

/* ------------------------------- */
/* --- Alternatives --- */

.short_input {
  width: 90px;
  place-self: end center;
}

.very_short_input {
  width: 6ch;
  place-self: end center;
}

/* ------------------------------- */
/* --- Evaluations --- */

.evaluation {
  grid-template-rows: 1fr auto;
}

.comment {
  grid-column: 1 / -1;
  width: 100%;
  overflow-wrap: anywhere;
}

/* --- Security Evaluation --- */
.sec-eval {
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
  justify-content: space-around;
  gap: 8px;
}

.choice {
  padding: 4px 0;
  cursor: pointer;
  border-radius: 8px 8px;
}

.choice:hover {
  outline: 1px solid darkslategray;
}
