:root {
  --margin: 0.1rem;
  --padding: 0.2rem;
  --short: 22%;
  --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --nav-height: 3rem;
  --transtion_fast: 0.25s ease-in;
}

* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 0.9rem;
  padding: var(--padding);

  --grid-gap: var(--padding) calc(var(--padding));
}

/* --------------------------------------------------------- */
/* Elements */

body,
html,
section {
  margin: 0px;
  padding: 0px;
}
section {
  position: absolute;
}

input {
  border: 0px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}
input:disabled {
  color: lightgray;
  border-bottom: none;
  background-color: white;
}

nav {
  height: var(--nav-height);
  display: grid;
  grid-auto-flow: column;
}

/* --------------------------------------------------------- */
/* IDs */
#setupModal {
  transition: transform var(--transtion_fast);
}

#btnDock {
  position: absolute;
  right: 5%;
  top: 5%;
}

/* --------------------------------------------------------- */
/* Classes  */

.button {
  --padding: 0.1rem;
  --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;

  margin: 0 8px;
  width: 96px;
  background-color: azure;
  box-shadow: var(--box-shadow);
}
.button:hover {
  background-color: lightgray;
}
.button:active {
  background-color: gray;
}

.card {
  border: none;
  border-radius: 8px 8px;
  padding: calc(var(--padding) * 5);
  box-shadow: var(--box-shadow);
}

.center_both {
  place-self: center;
  position: relative;

  width: -moz-fit-content;
  width: fit-content;
}

.center_text {
  text-align: center;
}
.right_text {
  text-align: right;
}

.docked {
  position: relative;
  top: var(--nav-height);
}

.fixed_top {
  position: fixed;
  top: 0;
  z-index: 1;
}

.grid_2,
.grid_3,
.grid_4 {
  display: grid;
  grid-gap: var(--grid-gap);
  margin-top: calc(var(--margin) * 10);
  text-align: center;
}

.grid_2 {
  grid-template-columns: 280px min-content;
}
.grid_3 {
  grid-template-columns: 280px min-content min-content;
}
.grid_4 {
  grid-template-columns: 280px min-content min-content min-content;
}

.invisible {
  /* display: none; */
  transform: translateX(-150%);
}

.modal {
  position: fixed;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.541);
  top: 0px;
  bottom: 0px;
  z-index: 2;
}

.short {
  width: 120px;
}

.top_margin {
  margin-top: calc(var(--margin) * 10);
}

/* --------------------------------------------------------- */
/* Colors */
.blue {
  background-color: blue;
  color: white;
}
.teal {
  background-color: skyblue;
}
.green {
  background-color: lightgreen;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
  color: white;
}
.white {
  background-color: white;
}
